*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cartao{
    width: 400px;
    height: 500px;
    background-color: gray;
    padding: 20px;
    border: 10px solid black;
    border-radius: 5px;
    text-align: center;
    gap: 10px;
}
.container-img {
    background-image: url('../img/praia.jpg');
    background-size: cover; /* Cobrir o tamanho do contêiner */
    background-position: center; /* Centralizar a imagem */
    width: 100%; /* Definir a largura do contêiner */
    height: 300px; /* Definir a altura para visualizar a imagem */
}
.cartao h1{
    color: whitesmoke;
}

.cartao p{
    color: whitesmoke;
}

