*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.lista-de-tarefas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
  }
  
  .tarefa {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid yellow;
    border-radius: 5px;
    background-color: aqua;
  }
  
  .tarefa-nome {
    font-weight: bold;
  }
  
  .tarefa-status {
    padding: 5px;
    border-radius: 3px;
  }
  
  .tarefa-status.pendente {
    color: #ff5722;
  }
  
  .tarefa-status.concluída {
    color: #4caf50;
  }
  